@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);

  --color-primary-light: #4feab2;
  --color-primary-normal: #00a86b;
  --color-primary-dark: #056d48;

  --color-secondary-light: #ff9f7d;
  --color-secondary-normal: #ff6b35;
  --color-secondary-dark: #e04108;

  --color-neutral-light: #323232;
  --color-neutral-normal: #1f1f1f;
  --color-neutral-dark: #101010;

  --color-white-light: #f8f8f8;
  --color-white-normal: #e0e0e0;
  --color-white-lightgreen: #b0d0c0;

  --text-h0: 4.5rem;
  --text-h0--font-weight: 700;
  --text-h1: 3rem;
  --text-h1--font-weight: 700;
  --text-h2: 2.25rem;
  --text-h2--font-weight: 700;
  --text-h3: 1.5rem;
  --text-h3--font-weight: 700;
  --text-h4: 1.25rem;
  --text-h4--font-weight: 700;

  --shadow-container: 0 0 6px 4px rgba(0, 0, 0, 0.25);
  --shadow-testimonial: 0 4px 4px 4px rgba(0, 168, 107, 0.25);

  --text-paragraph-large: 1.125rem;
  --text-paragraph-medium: 1rem;
  --text-paragraph-small: 0.875rem;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
